.card {
    border: 1px solid black;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
    background: #FFF;
    color: #000;
    /* Realiza un retrazo en milisegundos en el cambio de fondos */
    transition: all 400ms ease-out;
}

.card-active {
    /* Cambia el fondo a purpura degradado */
    background: linear-gradient(45deg, black, #4a02f7);
    /* Cambia el color de las letras a blaco para que no se pierdan entre el fondo purpura */
    color: #FFF;
}